#title {
    font-family:sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;

}

#infoTitle {
    color: #000;
    font-family: sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
}

#infoCard {
    width: 385px;   
    height: 460px;
    background: #E8E8E8;
    margin-top: -12px;
    color: #000;
    font-family: sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.5;
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 310px;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

#infoButton {
    width: 173px;
    height: 69px;
    border-radius: 10px;
    background: #E8E8E8;
    margin-right: 20px;
    text-align: center;
    line-height: 68px;
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    border-color:#E8E8E8;
    border: none;
    outline: none;
}

#infoButton:hover {
    cursor: pointer;
}

#movesButton {
    width: 173px;
    height: 69px;
    border-radius: 10px;
    background: #E8E8E8;
    text-align: center;
    line-height: 68px;
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;
}

#movesButton:hover {
    cursor: pointer;
}

.leftSide {
    display: flex;
    flex-direction: column;
    margin-left: 175px;
}

#poke-pic {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 10px;
    border: 4px solid #000;
    border-width: 3px;
    background: white;
}

#poke-name {
    margin-top: 18px;
    width: 378px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #E8E8E8;
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 49px;
}

.below {
    display: flex;
    flex-direction: column;
}

#typeTitle {
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    margin-top: 20px;
}

.types {
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#one {
    width: 113px;
    height: 36px;
    border-radius: 10px;
    background: #A8A77A;
    margin-right: 20px;
    text-align: center;
    line-height: 35px;
}

#two {
    width: 113px;
    height: 36px;
    border-radius: 10px;
    background: #A8A77A;
    margin-right: 20px;
    text-align: center;
    line-height: 35px;
}

#three {
    width: 113px;
    height: 36px;
    border-radius: 10px;
    background: #A8A77A;
    margin-right: 20px;
    text-align: center;
    line-height: 35px;
}

.leftButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 27px;
}

#leftArrow {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background: #E8E8E8;
    text-align: center;
    line-height: 45px;
    margin-right: 40px;
    margin-left: -20px;
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;
}

#leftArrow:hover {
    cursor: pointer;
}

#rightArrow {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background: #E8E8E8;
    text-align: center;
    line-height: 45px;
    color: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;
}

#rightArrow:hover {
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: row;
}
